# Database
DATABASE_URL=postgresql://postgres:password@localhost:5432/agri_chatbot

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback

# Python AI Service
PYTHON_AI_URL=http://localhost:8000
USE_PYTHON_AI=true
FALLBACK_TO_TYPESCRIPT=true
PDF_EXTRACTION_SERVICE_URL=http://localhost:8002

# Authentication
NEXT_PUBLIC_API_URL=http://localhost:3000
NEXTAUTH_URL=http://localhost:3001
NEXTAUTH_SECRET=
JWT_SECRET=

# MQTT Broker
MQTT_BROKER_URL=mqtt://localhost:1883


# AI Services

# GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash

#Vector database dùng Pgvector

# Email
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=

# File Upload
UPLOAD_MAX_SIZE=10485760
UPLOAD_PATH=./uploads

# Application
NODE_ENV=development
PORT=3000
FRONTEND_URL=http://localhost:3001

#Embedding 
EMBEDDING_API_URL=http://localhost:8001

#Service chạy phân loại intent & NER ở  http://localhost:8000

#Service chạy pdf Extraction (OCR) ở http://localhost:8002
#PORT của BE nestjs ở 3000
#PORT của FE ở 3001
# RAG Upload Path
RAG_UPLOAD_PATH=./uploads/rag
# AI Config

EXACT_MATCH_THRESHOLD=0.9
RAG_CONFIDENCE_THRESHOLD=0.7
LLM_FALLBACK_THRESHOLD=0.5
WEATHER_API_KEY=
MQTT_SECRET=

#VNPAY
VNPAY_TMN_CODE=
VNPAY_SECURE_SECRET=
VNPAY_PAYMENT_URL=
VNPAY_RETURN_URL=
VNPAY_IPN_URL=

